sudo: required
dist: trusty
language: python
before_script:
  - sudo apt-get update -qq
  - sudo apt-get install -y python-pip python-dev
  - sudo apt-add-repository -y ppa:ansible/ansible-1.9
  - sudo apt-get install -y ansible
  - sudo apt-get -qq -y install linux-image-extra-$(uname -r) apparmor
script: bash test.sh

